.watched-button {
  width: 45px;
  height: 45px;
  fill: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 0px 7px 0px 0px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watched-button:disabled {
  cursor: not-allowed;
  background-color: orange;
}
