.browse {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 2.25rem var(--filter-color));
}
.browse section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3vh 0 3vh 0;
}
.browse input {
    width: 70%;
    font-size: 16px;
    padding: 20px 20px 20px 40px;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 8px 0 0 8px;
    &:focus{
        outline: none;
    };
}
.browse section button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.info-button, .watchlist-button, .remove-button {
    font-family: "Poppins";
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px 15px 5px;
    text-align: center;
    &:hover {
        background-color: var(--color-secondary);
    }
}

.movie-card{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: visible;
    background-color: rgba(0, 0, 0, .4);;
    border-radius: 8px ;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: -webkit-fill-available;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.movie-card img{
    width: 100%;
    border-radius: 8px;
}

.movie-card  h3 {
    font-size: 1rem;
    font-weight: 800;
}

.movie-card h3, p{    
    margin: 15px 0 5px 0;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 auto 0;
}

.movie-card button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 650px) {
    .browse section {
        flex-direction: column;
        align-items: center;
    }
    .browse input {
        width: 80%;
        border-radius: 8px;
        border-radius: 8px 8px 0 0;
    }
    .browse section button {
        width: 80%;
        border-radius: 0 0 8px 8px;
    }
}