.movie-card{
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, .4);;
    border-radius: 8px ;
    margin: 10px;
    width: 300px;
    text-align: center;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}
.movie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.movie-card h3{
    font-size: 1rem;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .25rem;
}

.movie-card:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
}

.info-button, .movie-card button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px 15px 5px;
}

.watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #838383;
  color: white;
  max-width: 500px;
  width: 90%;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
}

.modal-content p {
  line-height: 1.5;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 650px) {
    .movie-card {
        width: 80%;
    }
}