.movie-card{
    border: 1px solid #020202;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    height: auto;
    width: auto;
        transition: transform 0.3s ease-in-out;

}

.movie-card img{
    width: 100%;
    border-radius: 8px;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
}

.movie-card:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
}

.info-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #838383;
  color: white;
  max-width: 500px;
  width: 90%;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
}

.modal-content p {
  line-height: 1.5;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}